@import 'reset.scss'

body
  font-family: 'Helvetica Neue', helvetica, sans-serif
  background: #1d1f21 url("/images/jq_bg.png")
  color: #d2d8e3
  text-shadow: 0 2px 1px #000
  &#examples
    background: #d2d8e3
    color: #333
    text-shadow: none
    code
      background: #fff
      text-shadow: none
#wrapper
  padding: 100px

p
  font-weight: bold
  margin: 0 0 40px 0
  code
    font-weight: bold
    font-size: 1.1em
    background: #31363b
    padding: 2px 4px
    margin: 0 4px
    text-shadow: 0 1px 1px #000
  a
    text-decoration: none
    color: #d367b6
    &:hover
      text-decoration: underline

hgroup
  margin: 0 0 40px 0
  font-family: "chunk-1","chunk-2", 'Helvetica Neue', helvetica, sans-serif
  h1
    font-size: 80px
    span
      color: #d367b6
  h2
    font-size: 40px
  form
    label
      font-size: 14px
    + form

h3
  font-weight: bold
  margin: 0 0 20px 0

#demos
  .graphie
    width: 400px
    height: 140px
    background: #fff
    overflow: hidden
    margin: 0 0 40px 0
    text-shadow: none
    &#options
      width: 600px
      height: 60px
      background: none
    &#teeny
      height: 20px
      width: 400px
      margin: 0 0 20px 0
    &#columns
      height: 10px
      width: 400px
      background: none
      margin: 0 0 20px 0
    &#line
      height: 20px
      width: 400px
#examples
  .graphie
    width: 600px
    height: 50px
    overflow: hidden
    text-shadow: none
    margin: 0 0 40px 0
