%html
  %head
    %title Graphie
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="lib/raphael.js")
    %script(type="text/javascript" src="jquery.graphie.js")
    :javascript
      $(function() {
        $('#normal').graphie();
        $('#options').graphie({
          line: {
            bgcolor: "#d24413",
            smoothing: 5,
            autosmooth: false
          },
          labels: {
            color: '#fff',
            x: 20,
            y: 20,
            size: 20,
            weight: 'normal'
          }
        });
        $('#teeny').graphie({
          padding_top: 0,
          line: {
            bgcolor: "#c6e0eb"
          },
          labels: {
            size: 10
          }
        });
      });
    %style(type='text/css')
      :sass
        body
          font-family: helvetica, arial, sans-serif
          padding: 50px
        .graphie
          width: 400px
          height: 140px
          background: #ddffff
        #options.graphie
          height: 100px
          width: 600px
          background: #882907
        #teeny.graphie
          height: 20px
          width: 300px
          background: #fff
  %html
    %h1 Graphie
    %h2 A cute little graphing library
    %h3 it has defaults:
    %dl#normal
      - 10.times do
        %dt Label
        %dd=rand(300)
    %h3 it has options:
    %dl#options
      - 10.times do
        %dt Label
        %dd=rand(30)
    %h3 it looks good teeny:
    %dl#teeny
      - 50.times do
        %dt Label
        %dd=rand(30)
    %h3 it only draws one line at a time.