%html
  %head
    %title jQuery.graphie
    %meta(type="description" content="Graphie, a simple graphing plugin for jQuery by Cameron Daigle")
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/lib/raphael.js")
    %script(type="text/javascript" src="/javascript/jquery.graphie.js")
    %script(type="text/javascript" src="/javascript/examples.js")
    %script(type="text/javascript" src="http://use.typekit.com/aqp8xdq.js")
    :javascript
      try{Typekit.load();}catch(e){}
  %body#examples
    #wrapper
      %hgroup
        %h1<>
          jQuery
          %span<> .graphie
        %h2 examples

      :markdown
        ### CSS-controlled attributes

        Graphie adds a class of `graphie` on its containing element. Use this to style the background color & dimensions of the graph area.

      %h3 Line: Smoothing
      %ul#smoothing
        - 20.times do
          %li=rand(30)
      %h3 Line: Styles
      %ul#line_styles
        -20.times do
          %li=rand(30)
      %h3 X Labels
      %dl#labels_x
        - (1..30).each do |n|
          %dt== Aug #{n}
          %dd=rand(30)
      %dl#labels_x_bottom
        - (1..30).each do |n|
          %dt== Aug #{n}
          %dd=rand(30)
      %dl#labels_x_top
        - (1..30).each do |n|
          %dt== Aug #{n}
          %dd=rand(30)
      %h3 Column
      %dl#column
        - (1..30).each do |n|
          %dt== Aug #{n}
          %dd=rand(30)


    - if production?
      :javascript
        var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-308731-14']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();