%html
  %head
    %title jQuery.graphie
    %meta(type="description" content="Graphie, a simple graphing plugin for jQuery by Cameron Daigle")
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/lib/raphael.js")
    %script(type="text/javascript" src="/javascript/jquery.graphie.js")
    %script(type="text/javascript" src="/javascript/demo.js")
    %script(type="text/javascript" src="http://use.typekit.com/aqp8xdq.js")
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #wrapper
      %hgroup
        %h1<>
          jQuery
          %span<> .graphie
        %h2 a cute little graphing plugin
      %p
        by
        %a(href="http://camerondaigle.com") Cameron Daigle
      :markdown
        To use, include [the plugin](https://github.com/camerond/jquery-graphie/blob/master/public/javascript/jquery.graphie.js) and call `$.graphie()` on a `<dl>` of numeric values. (Also requires [Raphael](http://raphaeljs.com/))

        For available options, check out the
        [source](https://github.com/camerond/jquery-graphie/blob/master/jquery.graphie.js).

      %h3 it has nice-looking defaults:
      %dl#normal
        - 10.times do
          %dt Label
          %dd=rand(300)
      %h3 it has some options:
      %dl#options
        - 10.times do
          %dt Label
          %dd=rand(30)
      %h3 it looks good teeny:
      %dl#teeny
        - 20.times do
          %dt Label
          %dd=rand(30)
