%html
  %head
    %title jQuery.graphie
    %meta(type="description" content="Graphie, a simple graphing plugin for jQuery by Cameron Daigle")
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/lib/raphael.js")
    %script(type="text/javascript" src="/javascript/jquery.graphie.js")
    %script(type="text/javascript" src="http://use.typekit.com/aqp8xdq.js")
    :javascript
      $(function() {
        $('#normal').graphie();
        $('#options').graphie({
          line: {
            bgcolor: "#31363b",
            smoothing: 5,
            autosmooth: false
          },
          labels: {
            color: '#ffd800',
            x: 20,
            y: 20,
            size: 20,
            weight: 'normal'
          }
        });
        $('#teeny').graphie({
          padding_top: 0,
          labels: {
            size: 10
          }
        });
      });
      try{Typekit.load();}catch(e){}
  %body
    #wrapper
      %hgroup
        %h1 jQuery.graphie
        %h2 a cute little graphing library
      %p
        ©
        = Time.now.year
        %a(href="http://camerondaigle.com") Cameron Daigle
      %p
        Visualize the values in a definition list. For available options, check out the
        %a(href="https://github.com/camerond/jquery-graphie/blob/master/jquery.graphie.js") source
      %h3 it has defaults:
      %dl#normal
        - 10.times do
          %dt Label
          %dd=rand(300)
      %h3 it has options:
      %dl#options
        - 10.times do
          %dt Label
          %dd=rand(30)
      %h3 it looks good teeny:
      %dl#teeny
        - 50.times do
          %dt Label
          %dd=rand(30)
